<div fxLayout fxLayoutAlign="center center">
  <mat-form-field fxFlex="40%">
    <input
      matInput
      type="text"
      (keyup)="doFilter($event.target.value)"
      placeholder="Filter"
    />
  </mat-form-field>
  <div>
    <a
      [routerLink]="['/voting/create']"
      routerLinkActive
      mat-button
      color="primary"
      >Create Voting</a
    >
  </div>
</div>
<table
  mat-table
  [dataSource]="dataSource"
  matSort
  (matSortChange)="customeSort($event)"
>
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
    <td mat-cell *matCellDef="let element">{{ element.Name }}</td>
  </ng-container>
  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
    <td mat-cell *matCellDef="let element">{{ element.Description }}</td>
  </ng-container>
  <ng-container matColumnDef="dateCreated">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Date Created</th>
    <td mat-cell *matCellDef="let element">{{ element.DateCreated }}</td>
  </ng-container>

  <ng-container matColumnDef="votersCount">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Voters Count</th>
    <td mat-cell *matCellDef="let element">{{ element.VotersCount }}</td>
  </ng-container>
  <ng-container matColumnDef="dueDate">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Due Date</th>
    <td mat-cell *matCellDef="let element">{{ element.DueDate }}</td>
  </ng-container>

  <ng-container matColumnDef="categories">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Categories</th>
    <td mat-cell *matCellDef="let element">{{ element.Category.name }}</td>
  </ng-container>

  <ng-container matColumnDef="details">
    <th mat-header-cell *matHeaderCellDef>Details</th>
    <td mat-cell *matCellDef="let element">
      <button
        mat-icon-button
        color="primary"
        (click)="redirectToDetails(element.Id)"
      >
        <mat-icon class="mat-18">reorder</mat-icon>
      </button>
    </td>
  </ng-container>
  <ng-container matColumnDef="update">
    <th mat-header-cell *matHeaderCellDef>Update</th>
    <td mat-cell *matCellDef="let element">
      <button
        mat-icon-button
        color="accent"
        (click)="redirectToUpdate(element.Id)"
      >
        <mat-icon class="mat-18">system_update</mat-icon>
      </button>
    </td>
  </ng-container>
  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef>Delete</th>
    <td mat-cell *matCellDef="let element">
      <button
        mat-icon-button
        color="warn"
        (click)="redirectToDelete(element.Id)"
      >
        <mat-icon class="mat-18">delete</mat-icon>
      </button>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<mat-paginator
  [pageSize]="10"
  [pageSizeOptions]="[10, 20, 30, 40, 50]"
  (page)="pageChanged($event)"
>
</mat-paginator>
