<section fxLayout="column" fxFlexAlign="strecth">
  <div fxFlexAlign="center">
    <p>Welcome to Voting Application</p>
  </div>
  <p>In this application we are going to vote.</p>

  <mat-grid-list cols="4" rowHeight="2:1">
    <mat-grid-tile
      fxLayout="row"
      *ngFor="let voting of currentVotings; let idx = index"
    >
      <button
        mat-raised-button
        color="primary"
        [matBadge]="voting.VotersCount"
        matBadgePosition="before"
        matBadgeColor="accent"
        [disabled]="dateNow > voting.DueDate ? true : false"
      >
        {{ voting.Name }}
      </button>
      <button
        mat-icon-button
        aria-label="Example icon-button with a heart icon"
        (click)="userVote(idx)"
        [disabled]="dateNow > voting.DueDate ? true : false"
      >
        <mat-icon>favorite</mat-icon>
      </button>
      <button
        mat-icon-button
        aria-label="Example icon-button with a reorder icon"
        (click)="redirectToDetail(voting.Id)"
      >
        <mat-icon>reorder</mat-icon>
      </button>
    </mat-grid-tile>
  </mat-grid-list>

  <div
    fxLayout
    fxLayoutAlign="center center"
    *ngIf="currentVotings.length < page.TotalCount"
  >
    <button mat-raised-button (click)="loadMore()">Load More</button>
  </div>
</section>
